<div class="slider-area">
	<!-- Slider -->
	<div class="block-slider block-slider4">
		<ul class="" id="bxslider-home4">
			<li>
				<img src="/assets/h4-slide.png" alt="Slide">
				<div class="caption-group">
					<h2 class="caption title"> iPhone <span class="primary">6 <strong>Plus</strong></span></h2>
					<h4 class="caption subtitle">Dual SIM</h4>
					<a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
				</div>
			</li>
			<li><img src="/assets/h4-slide2.png" alt="Slide">
				<div class="caption-group">
					<h2 class="caption title"> by one, get one <span class="primary">50% <strong>off</strong></span></h2>
					<h4 class="caption subtitle">school supplies & backpacks.*</h4>
					<a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
				</div>
			</li>
			<li><img src="/assets/h4-slide3.png" alt="Slide">
				<div class="caption-group">
					<h2 class="caption title"> Apple <span class="primary">Store <strong>Ipod</strong></span></h2>
					<h4 class="caption subtitle">Select Item</h4>
					<a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
				</div>
			</li>
			<li><img src="/assets/h4-slide4.png" alt="Slide">
				<div class="caption-group">
					<h2 class="caption title"> Apple <span class="primary">Store <strong>Ipod</strong></span></h2>
					<h4 class="caption subtitle">& Phone</h4>
					<a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
				</div>
			</li>
		</ul>
	</div>
	<!-- ./Slider -->
</div>
<!-- End slider area -->

<div class="promo-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-promo promo1">
					<i class="fa fa-refresh"></i>
					<p>
						30 Days return
					</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-promo promo2">
					<i class="fa fa-truck"></i>
					<p>
						Free shipping
					</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-promo promo3">
					<i class="fa fa-lock"></i>
					<p>
						Secure payments
					</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-promo promo4">
					<i class="fa fa-gift"></i>
					<p>
						New products
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End promo area -->

<div class="maincontent-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="latest-product">
					<h2 class="section-title">Latest Products</h2>
					<div class="product-carousel">
						<% @products.each do |product| %>
							<div class="single-product">
								<div class="product-f-image">
									<img src="/assets/product-1.jpg" alt="">
									<% if product.sale_price && product.sale_price > 0 %>
										<img src="/assets/sale.png" alt="" style="width: 42px; position: absolute; right: 0; top: 1px">
										<span style="position: absolute; right: 7px; top: 10px; color: #fff; font-weight: 600;">
											<%= number_to_percentage((100 - ((product.sale_price * 100) / product.price)).to_i, precision: 0)%>
										</span>
									<% end %>																						
									<div class="product-hover">
										<a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
										<%= link_to product_path(product), class: "view-details-link" do %>
											<i class="fa fa-link"></i> See details
										<% end %>
									</div>
								</div>
								<h2><%= link_to product.name, product_path(product) %></h2>
								<div class="product-carousel-price">
									<% if product.sale_price && product.sale_price > 0 %>
										<ins><%= number_to_currency(product.sale_price)%></ins><del><%= number_to_currency(product.price)%></del>
									<% else %>
										<ins><%= number_to_currency(product.price)%></ins>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End main content area -->

<div class="brands-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="brand-wrapper">
					<div class="brand-list">
						<img src="/assets/brand1.png" alt="">
						<img src="/assets/brand2.png" alt="">
						<img src="/assets/brand3.png" alt="">
						<img src="/assets/brand4.png" alt="">
						<img src="/assets/brand5.png" alt="">
						<img src="/assets/brand6.png" alt="">
						<img src="/assets/brand1.png" alt="">
						<img src="/assets/brand2.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End brands area -->

<div class="product-widget-area">
	<div class="zigzag-bottom"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="single-product-widget">
					<h2 class="product-wid-title">Top Sellers</h2>
					<a href="" class="wid-view-more">View All</a>
					<% @top_sell.each do |product|%>
					<div class="single-wid-product" style="position: relative">
						<%= link_to product_path(product) do %>
							<img src="/assets/product-thumb-1.jpg" alt="" class="product-thumb">
							<% if product.sale_price && product.sale_price > 0 %>
								<img src="/assets/sale.png" alt="" style="width: 42px; position: absolute; right: 0; top: 1px">
								<span style="position: absolute; right: 7px; top: 10px; color: #fff; font-weight: 600;">
									<%= number_to_percentage((100 - ((product.sale_price * 100) / product.price)).to_i, precision: 0)%>
								</span>
							<% end %>
						<% end %>
						<h2><%= link_to product.name, product_path(product) %></h2>
						<div class="product-wid-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="product-wid-price">
							<% if product.sale_price && product.sale_price > 0 %>
								<ins><%= number_to_currency(product.sale_price)%></ins><del><%= number_to_currency(product.price)%></del>
							<% else %>
								<ins><%= number_to_currency(product.price)%></ins>
							<% end %>
						</div>
					</div>
					<% end %>
				</div>
			</div>
			<div class="col-md-4">
				<div class="single-product-widget">
					<h2 class="product-wid-title">Recently Viewed</h2>
					<a href="#" class="wid-view-more">View All</a>
					<% @recently_viewed.each do |product|%>
						<div class="single-wid-product" style="position: relative">
							<%= link_to product_path(product) do %>
								<img src="/assets/product-thumb-1.jpg" alt="" class="product-thumb">
								<% if product.sale_price && product.sale_price > 0 %>
									<img src="/assets/sale.png" alt="" style="width: 42px; position: absolute; right: 0; top: 1px">
									<span style="position: absolute; right: 7px; top: 10px; color: #fff; font-weight: 600;">
										<%= number_to_percentage((100 - ((product.sale_price * 100) / product.price)).to_i, precision: 0)%>
									</span>
								<% end %>
							<% end %>
							<h2><%= link_to product.name, product_path(product) %></h2>
							<div class="product-wid-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="product-wid-price">
								<% if product.sale_price && product.sale_price > 0 %>
									<ins><%= number_to_currency(product.sale_price)%></ins><del><%= number_to_currency(product.price)%></del>
								<% else %>
									<ins><%= number_to_currency(product.price)%></ins>
								<% end %>	
							</div>
						</div>
					<% end %>
				</div>
			</div>
			<div class="col-md-4">
				<div class="single-product-widget">
					<h2 class="product-wid-title">Top New</h2>
					<a href="#" class="wid-view-more">View All</a>
					<% @top_new.each do |product|%>
					<div class="single-wid-product" style="position: relative">
						<%= link_to product_path(product) do %>
							<img src="/assets/product-thumb-1.jpg" alt="" class="product-thumb">
							<% if product.sale_price && product.sale_price > 0 %>
								<img src="/assets/sale.png" alt="" style="width: 42px; position: absolute; right: 0; top: 1px">
								<span style="position: absolute; right: 7px; top: 10px; color: #fff; font-weight: 600;">
									<%= number_to_percentage((100 - ((product.sale_price * 100) / product.price)).to_i, precision: 0)%>
								</span>
							<% end %>
						<% end %>
						<h2><%= link_to product.name, product_path(product) %></h2>
						<div class="product-wid-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="product-wid-price">
							<% if product.sale_price && product.sale_price > 0 %>
								<ins><%= number_to_currency(product.sale_price)%></ins><del><%= number_to_currency(product.price)%></del>
							<% else %>
								<ins><%= number_to_currency(product.price)%></ins>
							<% end %>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End product widget area -->
